[user]
	name = takoba
	email = plane25@gmail.com
	username = takoba
[credential]
	helper = cache
[core]
	editor = vim -c \"set fenc=utf-8\"
	excludesfile = ~/.gitignore
	attributesfile = ~/.gitattributes
[alias]
	tree = log --graph --date=short --format=\"%x09%C(cyan bold)%an%Creset%x09%C(yellow)%ad%Creset  %C(green)%h%Creset %C(magenta reverse)%d%Creset %s\"
	st = status
	co = checkout
	ci = commit
	br = branch
	f = fetch --prune
	pr = !hub browse -- compare/$(git symbolic-ref --short HEAD | sed -e s/\\\\$(printf \\\\043)/%23/)
	prnew = !hub browse -- compare/$(git symbolic-ref --short HEAD | sed -e s/\\\\$(printf \\\\043)/%23/)'?'expand=1'&'body=%23%23%20%E7%9B%AE%E7%9A%84%0A%0A%23%23%20%E5%A4%89%E6%9B%B4%E5%86%85%E5%AE%B9
	rb = reset HEAD^
	ls-merged-pr = !git log --oneline --reverse master..HEAD | grep 'Merge pull request' | awk '{print \"- \" $0}'
	fixup = commit --amend --reuse-message HEAD
[merge]
	tool = vimdiff
[push]
	default = simple
